{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Django Tutorial{% endblock %}

{% block navbar %}
    <a class="instructions_list_nav" href="{% url 'django_intro'%}"><h2>HOME</h2></a>
{% endblock %}

{% block intro %}
<h1 style="text-align: center">DJANGO COMPONENTS IN DEPTH</h1>
<h2 class="home_intro">This part of the tutorial will cover the Django main components in more detail by using diagrams and explanations. </h2>
<h1 style="text-align: center"><a href="{% url 'url_indepth'%}">URL Component</a></h1>
{% endblock %}