{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Django Tutorial{% endblock %}

{% block navbar %}
    <a class="instructions_list_nav" href="{% url 'django_intro'%}"><h2>HOME</h2></a>
{% endblock %}

{% block intro %}
<h1 style="text-align: center">DJANGO COMPONENTS IN DEPTH</h1>
<h2 class="home_intro">This part of the tutorial will cover the Django main components in more detail by using diagrams and explanations. </h2>
{% endblock %}

{% block content %}
<h1 style="text-align: center">URL DISPATCHER</h1>
<h2 class="home_intro">Django uses the URL Dispatcher to map URL paths with the corresponding Python code that needs to be executed which is found in the views.py file. 
    The URL Dispatcher consist of a Python module named urls.py which contains the code that maps URL paths to specific code in the views.py module. 
    Within the urls.py module a variable called urlpatterns holds a list of path() functions that are used to create instances of URL patterns which link to specific code in the view.py module. 
    When a request is made to a Django application, the supplied URL is matched against the list of URL patterns in the urls.py module. When a match is made the corresponding code in the views.py module is executed to satisfy the request. 
    <br><br>
    <span><img class="pic" src="{% static 'images/urlpatterns.png' %}"></span>
    <br>
    <span><img class="pic" src="{% static 'images/urlpatterns_url_link.png' %}"></span>
    <br>
    <span><img class="pic" src="{% static 'images/urlpatterns_views_link.png' %}"></span>
    <br>
    <span><img class="pic" src="{% static 'images/urlpatterns_name_link.png' %}"></span>
    
    
    (1) [Route Parameter] If the url supplied is an empty url as shown in the web browser address bar, this path function will be a match and will be used to satisfy the request.
    <br><br>
    (2) [View Parameter] After the requested URL is matched , Django will use the 'vehicle_list' function located in the views.py module which in turn will use the vehicle_list.html template to display the output.
    <br><br>
    (3) [Name Parameter] The URL pattern can be given a name in order to reference it from other parts of the application. This naming allows for better management of URLs.
    In the picture above a link is created within a template using url template tags that uses the url pattern named 'vehicle_list' that is defined in the urls.py module.
    This in turn will call the vehicle_list function within the views.py file. This make it possible to use a specific url by using the name associated with it.
   </h2>
    
    <h1 style="text-align: center">URL DISPATCHER PROCESS</h1>
<h2 class="home_intro">
    <span><img class="pic" src="{% static 'images/url_sequence_1.png' %}"></span>
    <span style="text-align: center">Empty URL entered in browser</span>
    <br>
    <span><img class="pic" src="{% static 'images/url_sequence_2.png' %}"></span>
    <span style="text-align: center">The URL provided in the address bar by a user is matched in the path function in the root urls.py file with an empty value for the route parameter. 
        The path function uses the 'include' method to transfer the URL routing to the myApp urls.py module for further mapping processing.</span>
    <br>
    <span><img class="pic" src="{% static 'images/url_sequence_3.png' %}"></span>
    <span style="text-align: center">The URL is matched in the myApp urls.py module which transfers to the execution to the 'vehicle_list' function of views.py module.</span>
    <br>
    <span><img class="pic" src="{% static 'images/url_sequence_4.png' %}"></span>
    <span style="text-align: center">The 'vehicle_list' function in the views.py module gathers the data from the database and sends the output to the 'vehicle_list.html' template.</span>
    <br>
    <span><img class="pic" src="{% static 'images/url_sequence_5.png' %}"></span>
    <span style="text-align: center">Template uses Django template tags to processes the output.</span>
    <br>
    <span><img class="pic" src="{% static 'images/url_sequence_6.png' %}"></span>
    <span style="text-align: center">The template displays output in the webpage responding to the request.</span>
</h2>

<h1 style="text-align: center;">URLconf</h1>
<h2 class="home_intro">
    In order for a Django app to respond to requests made from a client it needs to know what code to execute based on the request. 
    Since clients provide an URL with an HTTP request, Django must use the provided URL to locate the corresponding code to execute and satisfy the request. 
    In essence Django needs a way to perform routing of URLs in order to respond to the different requests made.   
    At the heart of URL routing in Django is the URLconf, a Python module with the responsibility of executing specific Python code base on the URL that is included with a HTTP request. 
    The URLconf module is named 'urls.py' and it’s created automatically by Django when a project is created with the ‘django-admin startproject’ command. Django creates this file at the root of the project directory, and it’s referred to as the ‘root’ urls.py file. 
    When a request is made and an URL is sent as part of an HTTP request, this module is used to map the URL provided by the request and the URL defined in the urls.py file. 
    If a match is found the urls.py module will execute the respective code that is built into the logic of the application. 
    <br>
    There exists a second urls.py module which is not created automatically by Django and is created by the programmer when creating a Django app using the ‘python mange.py startapp’ command. 
    It is not mandatory to create this second urls.py module within an application but a good practice for larger and more complex applications. In order to use the urls.py file created within the Django application instead of the root urls.py module, the ‘include’ function is used in the root urls.py module to transfer routing to the application’s urls.py module. 
    A different urls.py module can be made the ‘root’ urls.py module by modifying the ROOT_URLCONF setting in the setting.py file. The root urls.py module is typically used as the primary URL routing mechanism for project-level URL routing and also for including other application-level urls.py modules. 
</h2>
{% endblock %}

