{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Django Tutorial {% endblock %}

{% block intro %}
<h1 style="text-align: center;">INTRODUCTION TO DJANGO</h1>
<h2 class="home_intro" >This is a Django tutorial designed for the purpose of learning and thoroughly understand the Django framework.
    Strong emphasis is placed on the objective of learning Django in depth with many explanations and examples.
    This tutorial is structured in a way that the material is presented from an introductory level and avoids introducing any advanced concepts that would otherwise be appropriate to learn at a different stage.
    To better explain and understand how Django works I have broken down the process in stages.  </h2>

<div class="intro_pic1">
<img  src ="{% static 'images/django-icon.png'%}" style="height: 50px; width: 50px">
</div>
{% endblock %}

{% block content %}
<div style="text-align: center;">
<a href="{% url 'what_django' %}">What is Django?</a>
<br>
<a href="{% url 'objectives_list' %}">The Setup stage</a>
<br>
<a href="{% url 'hello_world'  %}">Simple "Hello World" output to webpage after setup stage</a>
<br>
<a href="{% url 'model_intro' %}">Create Model stage</a> 
<br>
<a href="{% url 'views_intro' %}">Create View stage</a> 
<br>
<a href="{% url 'template_intro' %}">Create Template stage</a>
<br>
<a href="{% url 'urls_intro' %}">Create Url stage</a> 
<br>
<a href="{% url 'summarize_stages' %}">Run the developmnent server and view output after coding above stages.</a>
<br>
<a href="#">Deployment stage</a> Coming Soon!
</div>
{% endblock %}