{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Hello World {% endblock %}

{% block navbar %}
    <a class="instructions_list_nav" href="{% url 'django_intro' %}"><h2>HOME</h2></a>
{% endblock %}

{% block intro %}
<h2 class="home_intro">{{objective_id.intro | linebreaks}}</h2>

<div class="intro_pic1">
<img  src ="{% static 'images/django-icon.png'%}" style="height: 50px; width: 50px">
</div>
{% endblock %}

{% block content %}
{% for instruction in instructions %}
    <div class = "container">
        <div class="step">Step {{instruction.step}}</div>
        <div class="code"><img src="{{instruction.code.url}}"></div>
        <div class="code_description">{{instruction.code_description | linebreaks}}</div>
        <div class="reference">{{instruction.reference | linebreaks}}</div>
    </div>    
{% endfor %}
{% endblock %}

