
{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Django Tutorial{% endblock %}

{% block navbar %}
    <a class="instructions_list_nav" href="{% url 'django_intro' %}"><h2>HOME</h2></a>
{% endblock %}

{% block intro %}
<h2  class="home_intro" > The setup stage presented in this tutorial demonstrated how the Django web framework creates all the necessary directory structures and python files to start building web applications. 
    Django uses the Python programming language and compatibility exists between the different version of Python and different versions of Django.
    Since different versions of Django are compatible with different versions of Python, it is recommended to develop within a virtual environment.
    Virtual environments enable to creation of a development environment that would include compatible versions of Django and Python. 
    Virtual environments isolate Django projects each with its own set of package versions avoiding conflicts between projects or the operating system.
     Virtual environments also have additional benefits like security and organization. Linux platforms like Ubuntu come with Python included in the system. 
     If building a web application in Django requires a specific version that is different than the one that is included with the operating system, virtual environments make it possible to install different versions of Python as needed for the specific project without considering the version included on the operating system. There are different tools available that make creating and managing virtual environments easy. The methods listed below are the different ways to setup a Django project on Ubuntu system using various tools. 
     The basic setup stage described in this tutorial follows the five procedures listed below, depending on the tools used there are other steps that are needed and are specific to the tools selected. 
<br>
1) Update Ubuntu system packages.
<br>
2) Create and activate virtual environment.
<br>
3) Install Django.
<br>
4) Create Django project.
<br>
5) Create Django Applicaiton.
</h2>
<div class="intro_pic1">
<img  src ="{% static 'images/django-icon.png'%}" style="height: 50px; width: 50px">
</div>
{% endblock %}



{% block content %}
{% for objective in objectives %}
<div class="objectives">
        <a class="home" href="{% url 'instructions_list' objective.id %}">{{objective.objective_description | linebreaks}}</a>
</div>
{% endfor %}
{% endblock %}