
{% extends "DjangoTutorial/base.html" %}
{% load static %}

{% block title %}Django Tutorial{% endblock %}

{% block intro %}
<h2 class="home_intro">This tutorial will walk you through a number of different methods on how to set up a development environment for Django development.</h2>
<div class="intro_pic1">
<img  src ="{% static 'images/django-icon.png'%}" style="height: 50px; width: 50px">
</div>
{% endblock %}



{% block content %}
{% for objective in objectives %}
<div class="objectives">
        <a class="home" href="{% url 'instructions_list' objective.id %}">{{objective.objective_description | linebreaks}}</a>
</div>
{% endfor %}
{% endblock %}